<footer class="foot">
  <div class="wrap foot-inner">
    <a class="brand" href="/">
      <span class="monogram" aria-hidden="true">
        <img src="{{ '/assets/images/andreea.jpg' | relative_url }}" style="width:100%;height:100%;object-fit:cover;border-radius: 50px;" alt="{{ site.author.name }}">
      </span>
      <span>
        <b>{{ site.author.name }}</b>
        <span>{{ site.author.tagline }}</span>
      </span>
    </a>
    <small>&copy;<span id="year">{{ 'now' | date: '%Y' }}</span> &bull; Becoming Space &bull; Consultanță Strategică de Carieră</small>
  </div>
</footer>
